/* mashup_new.css */
/* Refer to https://knowledge.exlibrisgroup.com/Alma/Product_Documentation/Alma_Online_Help_(English)/Alma-Primo_Integration/060Configuring_Alma_Delivery_System/090Branding_the_Delivery_Tabs?uxp=true */

/* Change appearance of title-level Request button. */
.iframeHeaderContent input[type="submit"].requestOption {
  background-color: white;
  padding: 0 0.5em;
  font-weight: 600;
}

.iframeHeaderContent input[type="submit"].requestOption:hover {
  background-color: #edf5fb;
  color: #333333;
}

/* Change appearance of item-level Request button. */
.itemsList table tbody > tr > td:last-child a {
  font-weight: 600;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 3px;
}

.itemsList table tbody > tr > td:last-child a:last-child {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Remove decorations for links in authNote and publicNote. */
.viewIt > ul > li > .authNote a:before,
.viewIt > ul > li > .authNote a:after,
.viewIt > ul > li > .publicNote a:before,
.viewIt > ul > li > .publicNote a:after {
  display: none;
}

/* Add emphasis classes for authNote and publicNote. */
.viewIt > ul > li > .authNote .warning,
.viewIt > ul > li > .publicNote .warning {
  color: red;
  font-weight: 600;
}

.viewIt > ul > li > .authNote .info,
.viewIt > ul > li > .publicNote .info {
  color: green;
  font-weight: 600;
}

/* Remove the line after "Notes:" (for authNoteTitle) */
.viewIt > ul > li + div.authNoteTitle {
  border-bottom: none;
  margin-bottom: 0.3em;
}

/* Hide the Book / Journal choice in the citation linker. */
form[name="uResolverRequestForm"] div.clearfix ul.internalSection.formView.clearfix li:nth-child(1),
form[name="uResolverRequestForm"] div.clearfix ul.internalSection.formView.clearfix li:nth-child(2) {
  display: none;
}

form[name="uResolverRequestForm"] div:last-of-type ul.internalSection.formView.clearfix li:nth-child(2) {
  display: flex;
}
